/*Google Noto-Sans fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/*import*/
@import "reset.css";
@import "app.css";
@import "header.css";
@import "footer.css";
@import "policyterm.css";

/*mediaquery*/
@import "mediaquery.css";

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141414;
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow-y:scroll;
}

body::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #303030; /* 스크롤바의 색상 */ 
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #f0f0f0;  /*스크롤바 뒷 배경 색상*/
}

main {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
}

footer {
  width: 100%;
  height: auto;
  margin: 00px 0px 40px 0px;
  background-color: #f0f0f0;
}