/*tablet*/
@media all and (min-width:768px){
  .content {
    padding: 100px 0px 140px 0px;
  }
  .content__sub {
    flex-wrap: nowrap;
    margin: 100px 0px
  }
  .content__title,
  .content2__title {
    font-size: 44px;
  }
  .content__title--sub,
  .content2__title--sub {
    font-size: 28px;
  }
  .link__mobile {
    height: 80px;
    width: auto;
  }
  .content__video {
    width: 26%;
    margin: 0px 3% 0px 5%;
  }
  .content__info {
    width: 54%;
  }
  .content__img2 {
    width: 26%;
    margin: 0px 40px 0px 8%;
  }
  .title__name {
    font-size: 35px;
  }
  .title__logo {
    width: 33px;
    height: 33px;
  }
  .menu__modal {
    height: 55px;
    font-size: 20px;
  }
  .line-change {
    display: none;
  }
  .content__link {
    flex-direction: row;
  }
  .content_img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 75%;
  }
  .mission {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .mission__img {
    height: 50px;
    width: auto;
    margin : 10px;
  }

  .element {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    height: 70px;
  }

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}


/*PC*/
@media all and (min-width:1024px){
  .info__menu {
    display: none;
  }
  .menu__modal {
    display: none;
  }
  .info__contact,
  .info__download {
    visibility: visible;
  }
  .content__title {
    font-size: 48px;
  }
  .content__title--sub {
    font-size: 32px;
  }
  .content__title--sub2 {
    font-size: 23px;
  }
  .content__info {
    width: 58%;
    margin-left: 2%;
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 25px;
  }
}